*.log
*.reapeaks
*.DS_Store

# minified browser version
dist/

# Development folders
.nyc_output/
docs/
test/

# Development files
.gitignore
.npmignore
.jshintrc
.travis.yml
appveyor.yml
webpack.config.js