*.log
*.reapeaks
*.DS_Store

# Development folders
.nyc_output/
docs/
test/

# Development files
.babelrc
.gitignore
.jshintrc
.npmignore
.travis.yml
appveyor.yml
BUILDING.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
ROADMAP.md
rollup.config.js