body {
    padding: 20px;
  }
  .waveform {
    background-color: #000;
    margin: 0 0 10px 0;
  }
  .drop-zone {
    background-color: #ddd;
    padding: 10px 20px;
    margin: 0 0 10px 0;
  }
  .convert {
    margin: 0 0 10px 0;
    font-size: 0.9em; 
  }

  .contents {
    margin: 0 0 20px 0;
  }
  .player-info h2 {
    font-size: 1.2em;
  }
  .player-info {
    font-size: 0.8em;
    background-color: #ddd;
  }
  .details {
    padding: 30px;
  }
  .loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    opacity: 0.5;
  }